{% extends "blog/layouts/base.html" %}
{% load static %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h3>{{ post.title }}</h3>
    <p>{{ post.created }}</p>
    <p>
      Categorias:
      {% for c in post.category.all %}
        <a href="{% url 'blog:posts-index' %}?category={{ c.slug }}">{{ c.name }}</a>
      {% endfor %}
    </p>
  </div>
  <div class="card-body">
    <p>
      {{ post.content }}
    </p>
  </div>
  <div class="card-footer">

  </div>
  <div class="card-footer">

  </div>
</div>
{% endblock %}
