{% extends "blog/layouts/base.html" %}
{% load bootstrap %}
{% load static %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h3>{{ post.title }}</h3>
    <p>{{ post.created }}</p>
    <p>
      Categorias:
      {% for c in post.category.all %}
        <a href="{% url 'blog:posts-index' %}?category={{ c.slug }}">{{ c.name }}</a>
      {% endfor %}
    </p>
  </div>
  <div class="card-body">
    <p>
      {{ post.content }}
    </p>
  </div>
  <div class="card-footer">
    <h5>Adicionar comentário</h5>
    <form method="POST" action="{% url 'blog:comment-create' post.slug %}">
      {% csrf_token %}
      {{ comment_form|bootstrap }}
      <input type="submit" value="Comentar" class="btn btn-primary" />
    </form>
  </div>
  <div class="card-footer">
    <h5>Comentários</h5>
    <hr>
    {% for comment in comments %}
      <p>
        {{ comment.email}} diz: {{ comment.content }}
      </p>
      <hr>
    {% endfor %}
  </div>
</div>
{% endblock %}
