{% extends "blog/layouts/admin.html" %}
{% load static %}

{% block content %}
{% if posts %}
  {% for post in posts %}
  <div class="card">
    <div class="card-header">
      <h3><a href="{% url 'post-detail' post.slug %}" class="post_link">{{ post.title }}</a></h3>
    </div>
    <div class="card-body">
      <p>
        {{ post.content|truncatechars:100 }} <a href="{% url 'post-detail' post.slug %}">ver mais</a>
      </p>
    </div>
  </div>
  <br>
  {% endfor %}
{% else %}
<div class="card">
  <div class="card-header">
    <h2>Sem Posts</h2>
  </div>
</div>
{% endif %}

{% endblock %}
